@import "./utils/variables";
@import "./components/navigation";
@import "./components/contacts";
@import "./components/hero";
@import "./components/whatwedo";
@import "./components/projects";
@import "./components/team-section";
@import "./components/costumers";
@import "./components/details";
@import "./components/form-subscribe";
@import "./components/form-modal";
@import "./components/container-portfolio";
@import "./components/portfolio";
@import "./components/contact-us";
@import "./components/costumers-logo";
body {
  color: var(--body-color);
  font-family: "Roboto", "Helvetica now", "Proxima Nova";
  width: 100vw;
}

.button:hover {
  color: var(--white);
  background-color: var(--interactiv-color);
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--interactiv-color);
  }
}

.footer {
  background-color: var(--dark-grey);
}

.container-members {
  list-style-type: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 32px;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-container__border {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  border: 1px solid var(--grey-white);
}

.container--with-shadow:hover,
.container--with-shadow:focus {
  -webkit-box-shadow: 0px 11px 8px -6px rgb(102, 103, 118);
  -moz-box-shadow: 0px 11px 8px -6px rgb(102, 103, 118);
  box-shadow: 0px 11px 8px -6px rgb(102, 103, 118);
}

.container__filters,
.container__buttons {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
  .modal-content {
    transform: scale(0.8);
  }
}
.modal-content {
  padding: 10px;
  width: 528px;
  height: 581px;
  position: relative;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.3s ease;
  transform: scale(1);
}
.modal-content__button-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  outline: none;
  background: var(white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fa-paper-plane {
  margin-left: 25px;
}
