.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__text-sizing {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--envelope-and-smartphone-color);
    text-decoration: none;
    display: flex;
    gap: 10px;
  }

  .contacts {
    display: flex;
    position: relative;
    .contacts__info {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: -20px;
      right: 20px;
      margin-top: 0;
    }
  }

  .contacts__mail {
    svg {
      width: 16px;
      height: 12px;
    }
  }
  .contacts__phone {
    svg {
      width: 10px;
      height: 16px;
      &:hover,
      &:focus {
        color: var(--interactiv-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text-sizing {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--envelope-and-smartphone-color);
    text-decoration: none;
    display: flex;
    gap: 10px;
  }

  .contacts {
    display: flex;
    width: 100%;
    position: relative;
    .contacts__info {
      list-style: none;
      display: flex;
      flex-direction: row;
      position: absolute;
      top: -5px;
    }
    & li + li {
      padding-left: 40px;
    }
  }

  .contacts__mail {
    svg {
      width: 16px;
      height: 12px;
    }
  }
  .contacts__phone {
    svg {
      width: 10px;
      height: 16px;
      &:hover,
      &:focus {
        color: var(--interactiv-color);
      }
    }
  }
}
