.costumers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //position: relative;

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
    color: var(--body-color);
  }
}

.costumers__logo-styles {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.costumers__logos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .costumers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
