.costumers__logos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
  flex-wrap: wrap;
  //position: absolute;
  top: 150px;

  justify-content: center;
  & svg {
    height: 92px;
    width: 170px;
  }
}
.costumers__logo-styles {
  border: 1px solid var(--team-section-platforms);
  color: var(--team-section-platforms);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--interactiv-color);
    border: 1px solid var(--interactiv-color);
  }
}

@media screen and (min-width: 1200px) {
  .costumers__logos {
    flex-direction: row;
  }
}
