:root {
  --interactiv-color: #2196f3;
  --ourteam-background-color: #f5f4fa;
  --envelope-and-smartphone-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #2f303a;
  --body-color: #212121;
  --grey-white: #ececec;
  --border-color: #e1e1f9;
  --team-section-platforms: #afb1b8;
}
